h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.data-source {
  text-align: center;
  color: black;
}

#root {
  background: rgb(231, 228, 228);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.film-card-div {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: 1rem 2rem;
  border-radius: 25px;
  border-style: outset grey;
}

.film-title-div {
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  width: 19.3rem;
  display: flex;
  justify-content: space-around;
}

.film-description-div {
  padding: 2rem;
}

.film-img-div {
  display: flex;
  justify-content: center;
}

p {
  font-size: 0, 9rem;
  color: grey;
}

#search-holder {
  text-align: center;
  margin: 20px;
}
